
body {font-family: Arial, sans-serif;font-size: 12pt;background-color: #FFECCC; color: #01200F;margin: 15pt; }

hr {border: none; height: 2px; background-color: #01200F; }


h1  {font-family: Verdana, sans-serif;font size 35pt; color:#01200F ;font-weight: bold; text-align: center; }

h2  {font-family:Helvetica, sans-serif;font size 24pt; color: ##2e3257; }

   
p   {font-family: Times New Roman, serif;font-size: 14pt; }

d5   {font-family: Times New Roman, serif;font-size: 14pt; }


a {text-decoration: none;}

a:visited {color:#035c2c; }

a:hover {color: #798fd1;text-decoration: underline;font-weight:bold;}

a:active {color: #798fd1; }


table {width: 100%;border-collapse:collapse; margin-top: 20px;}

th, td { border: 1px solid;#3a4fae;padding: 10px;text-align: left;}

th {background-color:#efele7;color:  #01200F; font-weight: bold;}

td {background-color: #efele7;}

footer {text-align: center;margin-top: 50px;color:  #01200F;font-size: 14px;}
